@font-face {
  font-family: "Star Jedi";
  src: url("assets/css/fonts/StarJedi.ttf") format("truetype");
}
h1 {
  font-family: "Star Jedi";
  background-color: transparent;
}
.text1 {
  font-family: "Orbitron", sans-serif;
}
.white {
  color: #fff;
}

html {
  background-image: url(../images/dv1920x1080.jpg);
  /* background-size: cover; */
  background-repeat: none;
  overflow: hidden;
}
.topRow {
  text-align: center;
}
body {
  background: none;
}
vs {
  font-size: 200%;
}
.center {
  text-align: center;
}
.container-fluid {
  margin-top: 0 auto;
  background: none;
  color: gold;
}
.freeAgent,
.assigned,
.villains {
  width: 20%;
  height: 100%;
  display: inline-block;
  margin: 10px 10px 10px 0;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.purple {
  border: 5px solid purple;
}
.btn {
  margin: 10px 10px;
}

.hero,
.villain {
  width: 75%;
  margin: 10px 10px 10px 0;
  vertical-align: middle;
}
.hero {
  -moz-box-shadow: 0 0 20px 20px green;
  -webkit-box-shadow: 0 0 20px 20px green;
  box-shadow: 0 0 20px 10px green;
}
.villain {
  -moz-box-shadow: 0 0 20px 20px red;
  -webkit-box-shadow: 0 0 20px 20px red;
  box-shadow: 0 0 20px 10px red;
}
.container {
  background-color: color #353541bf;
  height: 1200px;
  width: 100%;
}
.battlegroundName {
  text-align: center;
}
#battlegroundText {
  padding-top: 15px;
}
.hide {
  display: none;
}
.defeated {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
